<div class="container-header">
    <div class="d-flex ui-header container">
        <div class="d-flex">
            <div class="border-box">
                <img src="../../assets/images/admintool-logo.jpeg" alt="#" class="image-logo">
                <div class="title-text-down">
                    Relocation and Living Cost intelligence
                </div>
            </div>
            <div class="d-flex title-administration">
                <div class="aling-items">
                    Administration Tools
                </div>
            </div>
            <div class="d-flex">
                <div class="aling-items">
                    Users
                </div>
                <div class="aling-items">
                    Clients
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Researchs
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="button-dropdown">
                <div class="icon-x">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Nicole Escobar
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="container mt-4">
    <div class="sep">
        <div>
            <span class="icon"> < </span> <span class="text-administration"> ADMINISTRATION /</span> <span class="text-users"> USERS </span>
            <h5>User Management</h5>
        </div>
        <a href="#" class="add-user btn">Add User</a>
    </div>
</section>

<!-- <section class="section-filter">
    <div>
        <div class="search-box container d-flex">
            <div>
                <p>32 Users</p>
            </div>
            <div class="d-flex">
                <button type="button" class="filter-button btn"> Filters</button>
                <div class="ps-4 pt-1">
                    <input class="input-search" type="text" placeholder="Search (e.g. By Name)                                                 ">
                </div>
            </div>
        </div>
        <hr class="hr-division container">
        <div class="container">
            <table class="table">
                <thead>
                  <tr class="column-table">
                    <th scope="col">ID  </th>
                    <th scope="col">Name  </th>
                    <th scope="col">Email  </th>
                    <th scope="col">Admin  </th>
                    <th scope="col">Employer  </th>
                    <th scope="col">Last Updated  </th>
                    <th scope="col">status  </th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>ID54656</th>
                    <td>Isabella Tabakova</td>
                    <td>isabella@gamil.com</td>
                    <td>Administrator</td>
                    <td>Acme LLC</td>
                    <td>2018-90-12</td>
                    <td>
                        <a href="#" class="active btn">Active</a>
                    </td>
                    <td>
                        <button type="button" class="more btn" data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">View</a></li>
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Approve</a></li>
                            <li><a class="dropdown-item" href="#">Deny</a></li>
                        </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>ID45823</th>
                    <td>Aron Almaraz</td>
                    <td>aronalma2hotmail.com</td>
                    <td>User</td>
                    <td>RMC 123</td>
                    <td>2018-90-12</td>
                    <td></td>
                    <td>
                        <button type="button" class="more btn" data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">View</a></li>
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Approve</a></li>
                            <li><a class="dropdown-item" href="#">Deny</a></li>
                        </ul>
                    </td>
                  </tr>
                  <tr>
                    <th>ID45879</th>
                    <td>Alan Martí</td>
                    <td>alanmarti34@yahoo.com</td>
                    <td>User</td>
                    <td>Mangus LLC</td>
                    <td>2018-90-12</td>
                    <td></td>
                    <td>
                        <button type="button" class="more btn" data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">View</a></li>
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Approve</a></li>
                            <li><a class="dropdown-item" href="#">Deny</a></li>
                        </ul>
                    </td>
                  </tr>
                </tbody>
            </table>
            <div class="container d-flex">
                <div class="d-flex">
                    <p class="number-user">Displaying 1 - 25 of 32 Users  |<p class="number-blue">25</p> <p class="number-user">50 100 Result per page.</p></p>
                </div>
                <div class="browse-page">

                </div>
            </div>
        </div>
    </div>
</section>

<footer class="container-fluid">
    <div class="container">
        <p class="footer">© 2018 Runzheimer, All rights reserved</p>
    </div>
</footer>  -->