<div class="d-flex ui-header container">
    <div class="d-flex">
        <div class="logo-box">
            <div>
                title
            </div>
            <div class="title-text-down">
                Relocation and Living Cost intelligence
            </div>
        </div>
        <div class="d-flex title-administration">
            <div class="aling-items">
                Administration Tools
            </div>
        </div>
        <div class="d-flex">
            <div class="aling-items">
                Users
            </div>
            <div class="aling-items">
                Clients
            </div>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Researchs
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">1</a></li>
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="aling-items">
            <div class="icon-x">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Researchs
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">1</a></li>
                    <li><a class="dropdown-item" href="#">2</a></li>
                    <li><a class="dropdown-item" href="#">3</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">4</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>