.container-header{
    background-color: #3281ae !important;

    div.border-box{
        border-right: solid #fff 1px;
        padding-right: 14px;
    }

    .border-box img.image-logo{
        width: 140px;
    }

    div.border-box div.title-text-down{
        display: flex;
        justify-content: end;
        font-size: 6px;
        color: #fff;
    }

    div.title-administration{
        margin-left: 10px;
        padding-right: 40px;
    }

    div.aling-items{
        display: flex;
        align-items: center;
        padding-right: 20px;
        color: #fff;
    }

    div.ui-header{
        justify-content: space-between;
        padding: 20px;
    }

    div.icon-x{
        display: flex;
        align-items: center;
        padding-right: 10px;
        font-size: 23px;
        height: 30px;
        border-right: solid 1px #fff;
    }

    button.dropdown-toggle{
        color: #fff;
    }

    .dropdown-toggle::after {
        vertical-align: 2px;
    }

    div.button-dropdown{
        display: flex;
        align-items: center;
        color: #fff;
    }

    .dropdown-item:hover{
        color: #ce5c36;
        background-color: #fff !important;
    }
}

section.section-management-user{
    background-color: #fff;
    padding: 13px 14px 13px 14px;

    div.add-users{
        justify-content: space-between;
        align-items: center;
    }

    .icon{
        color: #808080;
    }

    div.add-users .add-user{
        display: flex;
        align-items: center;
        height: 35px;
        margin-right: 10px;
        color: #fff;
        background-color: #48aeea;
        border-color: #48aeea;
    }

    h4{
        color: #48aeea;
    }

    div.add-users div .text-administration{
        font-size: 13px;
        color: #808080;
    }

    div.add-users div .text-users{
        font-size: 13px;
        color: #636363
    }

}

section.worker-list{
    background-color: #fafafa;
    height: 560px;

    div.search-box{
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px 20px 0px;
        margin-bottom: 35px;
        border-bottom: solid #cccccc;
    }

    .dropdown-item:hover{
        color: #ce5c36;
        background-color: #fff !important;
    }

    .icons-table{
        padding-left: 10px;
        color: hsl(210deg 4% 58%);
    }

    .icons-table::before{
        font: var(--fa-font-solid);
        content: "\f0dc";
    }

    p{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    div div .filter-button{
        background-color: #ce5c36;
        color: #fff;
    }

    .filter-button::before {
        font: var(--fa-font-solid);
        content: "\f0b0";
        padding-right: 10px;
    }

    div div div .input-search{
        width: 430px;
        padding: 3px 0px 3px 8px;
        border: none;
        border-bottom: #c2c2c2 solid;
    }

    .input-search::before{
        font: var(--fa-font-solid);
        content: "\f002";
    }

    div .hr-division{
        width: 81pc;
    }

    div.border-table{
        border: solid #e8e8e8;
        border-radius: 2px;
        margin-bottom: 20px;
    }

    .table{
        margin: 0;
    }

    td .status-pending{
        border: solid #ce5c36;
        background-color: #ce5c36;
        border-radius: 50%;
    }

    table.table{
        background-color: #fff;
        color: #4a4f59;
    }

    td button.more{
        height: 17px;
        display: flex;
        align-items: center;
    }

    td a.active{
        display: initial;
        background-color: #48aeea;
        font-size: 12px;
        color: #fff;
        border-radius: 30px;
        height: 20px;
        width: 60px;
    }

    td a.inactive{
        display: initial;
        background-color: #808080;
        font-size: 12px;
        color: #fff;
        border-radius: 30px;
        height: 20px;
        width: 60px;
    }

    td a.pending{
        display: initial;
        background-color: #ce5c36;
        font-size: 12px;
        color: #fff;
        border-radius: 30px;
        height: 20px;
        width: 60px;
    }

    div div div p.number-user{
        color: #aaadb1;
    }

    div div div p.number-blue{
        color: #48aeea;
        margin-left: 5px;
        margin-right: 5px;
    }

    div.number-pages{
        display: flex;
        justify-content: space-between;
    }

    a.first-page{
        display: initial;
        color: #fff;
        background-color: #48aeea;
        margin-left: 14px;
    }

    .number-users{
        color: #4d525c;
    }

    td.status{
        width: 150px;
    }

    td.options{
        width: 50px;
    }
}

footer{
    display: flex;
    justify-content: center;
    background-color: #383d43;
    height: 70px;

    div.container{
        display: flex;
        align-items: center;
    }
    div p.footer{
        color: #fff;
        margin: 0;
    }
}