<header>
    <div class="d-flex ui-header container">
        <div class="d-flex">
            <div class="border-box">
                <a href="/"><img src="../../assets/images/admintool-logo.jpeg" alt="#" class="image-logo"></a> 
                <div class="title-text-down">
                    Relocation and Living Cost intelligence
                </div>
            </div>
            <div class="d-flex title-administration">
                <div class="aling-items">
                    Administration Tools
                </div>
            </div>
            <div class="d-flex">
                <div class="aling-items">
                    Users
                </div>
                <div class="aling-items">
                    Clients
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Researchs
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="button-dropdown">
                <div class="icon-x">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-name" data-bs-toggle="dropdown" aria-expanded="false">
                        Nicole Escobar
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="information-user-btn">
    <div class="container d-flex info-users">
        <div>
            <a href="/"><span class="icon"><i class="fa-solid fa-angle-left"></i></span> <span class="text-administration"> ADMINISTRATION /</span></a> <span class="text-users"> USERS </span> <span class="person-info">/ <%= employee.Name %></span>
            <h4 class="title-user"><%= employee.Name %></h4>
        </div>
        <div class="d-flex">
            <a href="/" class="back btn">Back</a>
            <button type="submit" class="action btn">Action</button>
        </div>
    </div>
</section>

<section class="user-information">
    <div class="container form p-4">
        <div class="container">
            <div class="d-flex">
                <p class="text-information"><%= employee.Name %></p>
                <hr class="pull-apart">
            </div>
            <div class="d-flex pull-form">
                <p class="text-email">Email:</p>
                <p class="mb-0"><%= employee.Email %></p>
            </div>
            <div class="d-flex pull-form">
                <p class="text-telephone-w">Work Telephone:</p>
                <p class="mb-0"><%= employee.WorkTelephone%></p>
            </div>
            <div class="d-flex pull-form">
                <p class="text-telephone-m">Mobile Telephone:</p>
                <p class="mb-0">+57 <%= employee.MobileTelephone%></p>
            </div>
            <div class="d-flex pull-form">
                <p class="text-fax">Fax Number:</p>
                <p class="mb-0"><%= employee.Fax %></p>
            </div>
            <div class="d-flex pull-form">
                <p class="text-type">Contact Type:</p>
                <p class="mb-0"><%= employee.ContactType %></p>
            </div>
            <div class="d-flex text-user-flags">
                <p class="text-flags">USER FLAGS</p>
                <hr class="pull-apart">
            </div>
            <div class="d-flex pull-form">
                <p class="text-admin">Is Internal Admin?</p>
                <%= if (employee.InternalAdmin == "True") { %>
                    <p class="mb-0">Yes</p>
                <% } else { %>
                    <p class="mb-0">No</p>
                <% } %>
            </div>
            <div class="d-flex pull-form">
                <p class="text-employer">Employer:</p>
                <p class="mb-0"><%= employers.Name %></p>
            </div>
            <div class="d-flex pull-form">
                <p class="text-client">Access Client:</p>
                <p class="mb-0"><%= employee.AccessClient %></p>
            </div>
        </div>
    </div>
</section>

<footer class="info-person d-flex">
    <div class="container-fluid">
        <div class="privacy-policity">
            <p class="footer">Check our <a href="#">Privacy Policity</a> & <a href="#">Terms of Use</a></p>
        </div>
        <div>
            <p class="contact mb-0">CONTACT US</p>
        </div>
    </div>
</footer>