<header>
    <div class="d-flex ui-header container">
        <div class="d-flex">
            <div class="border-box">
                <a href="/"><img src="../../assets/images/admintool-logo.jpeg" alt="#" class="image-logo"></a> 
                <div class="title-text-down">
                    Relocation and Living Cost intelligence
                </div>
            </div>
            <div class="d-flex title-administration">
                <div class="aling-items">
                    Administration Tools
                </div>
            </div>
            <div class="d-flex">
                <div class="aling-items">
                    Users
                </div>
                <div class="aling-items">
                    Clients
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Researchs
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="button-dropdown">
                <div class="icon-x">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-name" data-bs-toggle="dropdown" aria-expanded="false">
                        Nicole Escobar
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="add-new-user">
    <div class="container d-flex add-users">
        <div>
            <a href="/"><span class="icon"><i class="fa-solid fa-angle-left"></i></span> <span class="text-administration"> ADMINISTRATION /</span></a> <span class="text-users"> USERS </span> <span class="new-users">/ NEW USERS </span>
            <h4 class="title-new-user">New User</h4>
        </div>
        <div class="buttons-new-user">
            <a href="/" class="cancel btn">Cancel</a>
            <button type="submit" class="save-user btn" form="new-user">Save User</button>
        </div>
    </div>
</section>

<section class="fill-form">
    <div class="container form p-4">
        <div class="container">
            <%= form({id:"new-user", action: receiveDataPath(), method: "POST"}) { %> 
                <div class="d-flex">
                    <p class="text-information">USER INFORMATION</p>
                    <hr class="pull-apart">
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-name">Name:<span class="requerid">*</span></p>
                    <input class="inputs" type="text" name="name" autofocus>
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill">Email:<span class="requerid">*</span></p>
                    <input class="inputs" type="email" name="Email">
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-work-t">Work Telephone:<span class="requerid">*</span></p>
                    <input class="inputs" type="number" name="work_telephone">
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-m-t">Mobile Telephone:</p>
                    <input class="inputs" type="number" name="mobile_telephone">
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-fax">Fax Number:</p>
                    <input class="inputs" type="text" name="fax-number">
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-contact">Contact Type:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="contac_type" id="gridRadios1" value="Compensation">
                        <label class="form-check-label" for="gridRadios1">
                          Compensation
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="contac_type" id="gridRadios2" value="Relocation">
                        <label class="form-check-label" for="gridRadios2">
                          Relocation
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="contac_type" id="gridRadios3" value="Travel">
                        <label class="form-check-label" for="gridRadios3">
                          Travel
                        </label>
                    </div>
                </div>
                <div class="d-flex text-user-flags">
                    <p class="text-flags">USER FLAGS</p>
                    <hr class="pull-apart">
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-admin">Is Internal Admin?</p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="admin" name="internal_admin">
                        <label class="form-check-label" for="admin"></label>
                    </div>
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-employer">Employer:</p>
                    <select class="form-select" aria-label="Default select example" name="employer">
                        <option selected>Select Employer</option>
                        <option value="RMC 123">RMC 123</option>
                        <option value="Acme LLC">Acme LLC</option>
                        <option value="Magnus LLC">Magnus LLC</option>
                    </select>
                </div>
                <div class="d-flex pull-form mt-3">
                    <p class="data-to-fill-client">Accsess Client:</p>
                    <select class="form-select" aria-label="Default select example" name="accsess_clients">
                        <option selected class="options-clients">Select Clients</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="information-message mt-5">
                    <p><span class="requerid">*</span> Fields with this symbol are required.</p>
                </div>
            <% } %>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p class="footer">© 2018 Runzheimer, All rights reserved</p>
    </div>
</footer>