<header>
    <div class="d-flex ui-header container">
        <div class="d-flex">
            <div class="border-box">
                <a href="/"><img src="../../assets/images/admintool-logo.jpeg" alt="#" class="image-logo"></a> 
                <div class="title-text-down">
                    Relocation and Living Cost intelligence
                </div>
            </div>
            <div class="d-flex title-administration">
                <div class="aling-items">
                    Administration Tools
                </div>
            </div>
            <div class="d-flex">
                <div class="aling-items">
                    Users
                </div>
                <div class="aling-items">
                    Clients
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Researchs
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="button-dropdown">
                <div class="icon-x">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-name" data-bs-toggle="dropdown" aria-expanded="false">
                        Nicole Escobar
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li><a class="dropdown-item" href="#">3</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="add-new-user">
    <div class="container d-flex add-users">
        <div>
            <a href="/"><span class="icon"><i class="fa-solid fa-angle-left"></i></span> <span class="text-administration"> ADMINISTRATION /</span></a> <span class="text-users"> USERS </span> <span class="new-users">/ NEW USERS </span>
            <h4 class="title-new-user">New User</h4>
        </div>
        <div class="buttons-new-user">
            <a href="/" class="cancel btn">Cancel</a>
            <button type="submit" class="save-user btn" form="new-user">Save User</button>
        </div>
    </div>
</section>

<section class="fill-form">
    <div class="container form p-4">
        <div class="container">
            <div class="d-flex">
                <p class="text-information">USER INFORMATION</p>
                <hr class="pull-apart">
            </div>
            <%= form({id:"new-user", action: createEmployeesPath(), method: "POST"}) { %> 
                <div class="d-flex pull-form">
                    <p class="data-to-fill-name">Name:<span class="requerid">*</span></p>
                    <%= f.InputTag({name:"name", value: employee.Name, class:"inputs" }) %>
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill">Email:<span class="requerid">*</span></p>
                    <%= f.InputTag({name:"Email", value: employee.Email, class:"inputs", type:"Email" }) %>
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-work-t">Work Telephone:<span class="requerid">*</span></p>
                    <%= f.InputTag({name:"work_telephone", value: employee.WorkTelephone, class:"inputs", type:"number" }) %>
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-m-t">Mobile Telephone:</p>
                    <%= f.InputTag({name:"mobile_telephone", value: employee.MobileTelephone, class:"inputs", type:"number" }) %>
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-fax">Fax Number:</p>
                    <%= f.InputTag({name:"fax_number", value: employee.Fax, class:"inputs", type:"text" }) %>
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-contact">Contact Type:</p>
                    <div class="form-check">
                        <%= f.InputTag({name:"contac_type", class:"form-check-input radios-b", type:"radio", id:"gridRadios1", value: "Compensation" }) %>
                        <label class="form-check-label text-r" for="gridRadios1">
                          Compensation
                        </label>
                    </div>
                    <div class="form-check">
                        <%= f.InputTag({name:"contac_type", class:"form-check-input radios-b", type:"radio", id:"gridRadios2", value:"Relocation" }) %>
                        <label class="form-check-label text-r" for="gridRadios2">
                          Relocation
                        </label>
                    </div>
                    <div class="form-check">
                        <%= f.InputTag({name:"contac_type", class:"form-check-input radios-b", type:"radio", id:"gridRadios3", value:"Travel" }) %>
                        <label class="form-check-label text-r" for="gridRadios3">
                          Travel
                        </label>
                    </div>
                </div>
                <div class="d-flex text-user-flags">
                    <p class="text-flags">USER FLAGS</p>
                    <hr class="pull-apart">
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-admin">Is Internal Admin?</p>
                    <div class="form-check form-switch">
                        <%= f.InputTag({name:"internal_admin", class:"form-check-input", type:"checkbox", id:"admin", role:"switch", value:"True" }) %>
                        <%= f.InputTag({name:"internal_admin", class:"form-check-input", type:"hidden", id:"admins", role:"switch", value:"False" })%>
                        <label class="form-check-label" for="admin"></label>
                    </div>
                </div>
                <div class="d-flex pull-form">
                    <p class="data-to-fill-employer">Employer:</p>
                    <%= f.SelectTag({ options: employersMap, value:  3, name:"employer", class:"form-select"}) %>
                </div>
                <div class="d-flex pull-form mt-3">
                    <p class="data-to-fill-client">Access Client:</p>
                    <%= f.SelectTag({ options: {"Three" : "Three" , "Two" : "Two", "One" : "One"}, value:  3, name:"access_client", class:"form-select"}) %>
                </div>
            <% } %>
            <div class="information-message mt-5">
                <p><span class="requerid">*</span> Fields with this symbol are required.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p class="footer">© 2018 Runzheimer, All rights reserved</p>
    </div>
</footer>