section.management-user{
    background-color: #fff;
    padding: 13px 14px 13px 14px;
    min-height: 5vh;

    a{
        text-decoration: none;
    }

    div.add-users{
        justify-content: space-between;
        align-items: center;
    }

    .icon{
        color: #80808075;
    }

    div.add-users .add-user{
        display: flex;
        align-items: center;
        height: 35px;
        margin-right: 10px;
        color: #fff;
        background-color: #48aeea;
        border-color: #48aeea;
    }

    h4{
        color: #48aeea;
    }

    div.add-users div .text-administration{
        font-size: 13px;
        color: #80808075;
    }

    div.add-users div .text-users{
        font-size: 13px;
        color: #636363
    }

}

section.employees-list{
    background-color: #fafafa;
    min-height: 85vh;
    

    .input-icons i {
        position: absolute;
        margin-top: 7px;
        margin-left: 400px;
        color: #c5c5c5;
    }

    div.search-box{
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px 20px 0px;
        margin-bottom: 35px;
        border-bottom: solid #c2c2c27d;
    }

    .dropdown-item:hover{
        color: #ce5c36;
        background-color: #fff !important;
    }

    .icons-table{
        padding-left: 10px;
        color: hsl(210deg 4% 58%);
    }

    .icons-table::before{
        font: var(--fa-font-solid);
        content: "\f0dc";
    }

    p{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    div div .filter-button{
        background-color: #ce5c36;
        color: #fff;
    }

    .filter-button::before {
        font: var(--fa-font-solid);
        content: "\f0b0";
        padding-right: 10px;
    }

    div div div .input-search{
        width: 430px;
        padding: 3px 0px 3px 8px;
        border: none;
        border-bottom: #c2c2c27d solid;
    }

    ::placeholder {
        color: #a7aaaf;
    }

    div.border-table{
        border: solid #e8e8e8;
        border-radius: 5px;
        margin-bottom: 20px;
        border-bottom: 0px;
    }

    td .status-pending{
        border: solid #ce5c36;
        background-color: #ce5c36;
        border-radius: 50%;
    }

    table.table{
        margin: 0;
        background-color: #fff;
        color: #4a4f59;
        border-radius: 5px;
    }

    table.table tbody tr td {
        border-top: 0;
        padding: 14px;
    }

    td button.more{
        font-size: 20px;
        height: 17px;
        display: flex;
        align-items: center;
    }

    td span.active{
        display: initial;
        background-color: #48aeea;
        font-size: 12px;
        color: #fff;
        border-radius: 30px;
        padding: 5px 10px 5px 10px;
    }

    td span.inactive{
        display: initial;
        background-color: #808080;
        font-size: 12px;
        color: #fff;
        border-radius: 30px;
        padding: 5px 10px 5px 10px;
    }

    td span.pending{
        display: initial;
        background-color: #ce5c36;
        font-size: 12px;
        color: #fff;
        border-radius: 30px;
        padding: 5px 10px 5px 10px;
    }

    div div div p.number-user{
        color: #afb2b6;
    }

    div div div p.number-blue{
        color: #48aeea;
        margin-left: 5px;
        margin-right: 5px;
    }

    div.number-pages{
        display: flex;
        justify-content: space-between;
    }

    a.first-page{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #48aeea;
        margin-left: 14px;
        height: 23px;
    }

    .number-users{
        color: #4d525c;
    }

    th.status{
        width: 150px;
    }

    th.options{
        width: 70px;
    }

    tr.column-table{
        font-size: 12px;
    }

    .table > :not(:first-child) {
        border-top: 0px solid currentColor;
    }

    .color-gray{
        color: #b5b7ba;
    }

    div.browse-page{
        align-items: center;
        justify-content: center;
    }

    .other-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4a4f59;
        height: 23px;
    }

    table thead tr.column-table th{
        padding: 15px;
    }
}