section.information-user-btn{
    background-color: #fff;
    padding: 13px 14px 13px 14px;
    min-height: 5vh;

    a{
        text-decoration: none;
    }

    div.info-users{
        justify-content: space-between;
        align-items: center;
    }

    .icon{
        color: #80808075;
    }

    div.info-users .action{
        display: flex;
        align-items: center;
        height: 35px;
        margin-right: 10px;
        color: #fff;
        background-color: #48aeea;
        border-color: #48aeea;
    }

    .action::before{
        font: var(--fa-font-solid);
        content: "\f013";
        padding-right: 10px;
    }

    div.info-users .back{
        display: flex;
        align-items: center;
        height: 35px;
        margin-right: 10px;
        color: #fff;
        background-color: #aaacb1;
        border-color: #aaacb1;
    }

    .back::before{
        font: var(--fa-font-solid);
        content: "\f177";
        padding-right: 10px;
    }

    h4.title-user{
        color: #48aeea;
    }

    div.info-users div .text-administration{
        font-size: 13px;
        color: #80808075;
    }

    div.info-users div .text-users{
        font-size: 13px;
        color: #80808075;
    }

    span.person-info{
        font-size: 15px;
        color: #262626;
    }
}

section.user-information{
    background-color: #fafafa;
    min-height: 85vh;
    padding: 40px 0 40px 0;

    .form{
        background-color: #fff;
    }

    div.container div p.text-information{
        color: #4b4f58;
        margin-right: 30px;
    }

    div.container div hr.pull-apart{
        color: #80808096;
        width: 85%;
    }

    span.requerid{
        color: #b82020 !important;
    }

    div.pull-form{
        align-items: center;
    }

    .text-email{
        margin: 10px 153px 12px 0px;
        color: #4b4f58;
    }

    .text-telephone-w{
        margin: 10px 74px 12px 0px;
        color: #4b4f58;
    }

    .text-telephone-m{
        margin: 10px 64px 12px 0px;
        color: #4b4f58;
    }

    .text-fax{
        margin: 10px 105px 12px 0px;
        color: #4b4f58;
    }

    .text-type{
        margin: 10px 95px 12px 0px;
        color: #4b4f58;
    }

    .text-admin{
        margin: 10px 68px 12px 0px;
        color: #4b4f58;
    }

    .text-employer{
        margin: 10px 125px 12px 0px;
        color: #4b4f58;
    }

    .text-client{
        margin: 10px 94px 12px 0px;
        color: #4b4f58;
    }
    .text-user-flags{
        margin-top: 20px;
    }
}

footer.info-person{
    background-color: #383d43;
    padding: 30px 0;
    min-height: 5vh;

    div.container-fluid{
        display: flex;
    }

    div p.footer{
        color: #dcdce0;
        margin: 0;
    }

    a{
        color: #dcdce0;
    }

    .privacy-policity{
        padding: 0px 700px 0px 30px;
    }

    .contact{
        color: #ffffff80;
    }
}