section.add-new-user{
    background-color: #fff;
    padding: 13px 14px 13px 14px;
    min-height: 5vh;

    a{
        text-decoration: none;
    }

    div.add-users{
        justify-content: space-between;
        align-items: center;
    }

    .icon{
        color: #80808075;
    }

    div.add-users .save-user{
        display: flex;
        align-items: center;
        height: 35px;
        margin-right: 10px;
        color: #fff;
        background-color: #48aeea;
        border-color: #48aeea;
    }

    div.add-users .cancel{
        display: flex;
        align-items: center;
        height: 35px;
        margin-right: 10px;
        color: #fff;
        background-color: #aaacb1;
        border-color: #aaacb1;
    }

    h4.title-new-user{
        color: #48aeea;
    }

    div.add-users div .text-administration{
        font-size: 13px;
        color: #80808075;
    }

    div.add-users div .text-users{
        font-size: 13px;
        color: #80808075;
    }

    span.new-users{
        font-size: 13px;
        color: #636363;
    }

    .buttons-new-user{
        display: flex;
    }

}

section.fill-form{
    background-color: #fafafa;
    min-height: 85vh;
    padding: 40px 0 40px 0;

    .form{
        background-color: #fff;
    }

    div.container div p.text-information{
        color: #4b4f58;
        margin-right: 30px;
    }

    div.container div hr.pull-apart{
        color: #80808096;
        width: 85%;
    }

    span.requerid{
        color: #b82020 !important;
    }

    .pull-form{
        align-items: center;
    }

    .data-to-fill-name{
        margin: 10px 150px 12px 0px;
        color: #4b4f58;
    }

    .data-to-fill{
        margin: 10px 153px 12px 0px;
        color: #4b4f58;
    }

    .data-to-fill-work-t{
        margin: 10px 75px 12px 0px;
        color: #4b4f58;
    }

    .data-to-fill-m-t{
        margin: 10px 71px 12px 0px;
        color: #4b4f58;
    }

    .data-to-fill-fax{
        margin: 10px 112px 12px 0px;
        color: #4b4f58;
    }

    .data-to-fill-contact{
        margin: 10px 101px 12px 0px;
        color: #4b4f58;
    }
    .data-to-fill-admin{
        margin: 10px 73px 12px 0px;
        color: #4b4f58;
    }

    .data-to-fill-employer{
        margin: 10px 125px 12px 0px;
        color: #4b4f58;
    }

    .data-to-fill-client{
        margin: 10px 94px 12px 0px;
        color: #4b4f58;
    }

    .inputs{
        width: 900px;
        border: none;
        border-bottom: 1px solid #aaacb1;
        outline: none;
        border-radius: 0;
    }

    .form-check {
        display: flex;
        padding-right: 30px;
    }

    .text-user-flags{
        margin-top: 20px;
    }

    div.container div p.text-flags{
        color: #4b4f58;
        margin-right: 85px;
        margin-bottom: 0px;
    }

    select.form-select{
        width: 900px;
    }

    .options-clients{
        color: #4b4f58;
    }

    .information-message{
        border-top: 1px solid #ededed;
        font-size: 14px;
        padding-left: 6px;
        color: #bfbfbf;
        padding-top: 5px;
    }
}